* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    height: 100vh;
}

.container {
    position: relative;
    border: 2px solid black;
    background-color: white;
    height: 300px;
    width: 500px;
    max-width: 600px;
    min-width: 600px;
    border-radius: 20px;
    overflow: hidden;
}

.Flappybird {
   position: absolute;
   left: 100px;
   bottom: 150px;
   transition: bottom 0 ease-in-out;
   overflow: scroll;
   user-select: none;
}

.Cano1 {
    position: absolute;
    right: 10px;
    bottom: -195px;
    height: 100%;
    user-select: none;
}

.Cano2 {
    transform: rotate(180deg);
    position: absolute;
    right: 10px;
    bottom: 195px;
    height: 100%;
    user-select: none;
}

.Title {
    position: absolute;
    top: 50px;
    transform: scale(200%);
    font-family: sans-serif;
    text-align: center;
}

.Title2 {
    position: absolute;
    top: 200px;
    transform: scale(200%);
    font-family: sans-serif;
    text-align: center;
}